* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1;
    background-color: rgb(63, 63, 63);
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    font-family: 'Tahoma';
    letter-spacing: 1px;
    color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 20px;
    }

    ul {
        padding-left: 25px;
        margin-top: 10px;

        li {
            &:nth-child(n+2) {
                margin-top: 5px;
            }
        }
    }
}